{
  "extends": "nexxa",
  "globals": {
    "cordova": true
  },
  "rules": {
    "no-console": "off",
    "no-var": "off",
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }]
  },
  "env": {
    "commonjs": true,
    "node": true
  }
}
